html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #77747bdd
    ;
    border-color: 350px #5e5d5f
    ;
}
.container{
    max-width: 1100px;
    background-color:#19a2e1 ;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    border: 5px solid #666262;
}
.bold{
    font-weight:bold ;
}
/*header  */
.header{
    text-align: center;
}
.main-title{
    font: size 48
; ;
}
.main-paragraph{
    font-style: italic;
}
/* imagem */
.featured-imagem{
    text-align: center;
    margin-top: 30px;
    filter: blur(4px);

}
.biography-container{
    padding: 25px 0px;
    margin: 25px 0    ;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.quotes-container{
    background-color: #5e5d5f;
    padding: 30px;
    text-align:left;
    color: #ddd;
    border: solid;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 20px;
}
.quotes-container p{
    font-style: italic;
    text-align: right;
    color: #ddd;

}
.as-mais{
    padding: 25PX 0PX;
    margin: 25PX 0PX;
    border-top: 1PX dashed#dddd;
    border-bottom: 1px dashed #ddd;

}
.as-mais li{
    height: 30px;

}
.ul{
    font: size 40px; large;
}
.imag-bold{
    text-align: center;
    margin-bottom: 25px 0px;
    filter: blur(3px);
}
